.hero-item {
    display: table-row;
    width: 1400px;
   margin: 0px auto;
}

.hero-item section {
    display: table-cell;
    width: 400px;
    border: solid 1px rgb(172, 172, 172);
    text-align: left;
    vertical-align: top;
    background-color: rgb(59, 55, 55);
}

.hero-item h1 {
    margin: 10px;
    text-align: center;
}

.hero-item img {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.hero-item p {
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }



