nav ul li {
    display: inline-block;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    padding: 10px 20px;
    margin: 0;
}

nav ul li a {
    color: rgb(219, 201, 201);
    text-decoration: none;
} */

.file-item {
    width: 1200px;
}

.film-info {
    display: inline-block;
    width: 600px;
    height: 300px;
    text-align: left;
    vertical-align: top;
    background-color: rgb(59, 55, 55);
}

.film-img {
    width: 600px;
}