.file-item {
    width: 1200px;
}

.film-info {
    display: inline-block;
    width: 600px;
    height: 300px;
    text-align: left;
    vertical-align: top;
    background-color: rgb(59, 55, 55);
}

.film-img {
    width: 600px;
}